<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337830945410-ojsrnithtud2kocald8h5boo6hlvp1na.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337830945410-ojsrnithtud2kocald8h5boo6hlvp1na</string>
	<key>API_KEY</key>
	<string>AIzaSyDVOafeYz9UuDrzWWvB5rfYn_4sNsdoUB4</string>
	<key>GCM_SENDER_ID</key>
	<string>337830945410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>E.ColorCatcher</string>
	<key>PROJECT_ID</key>
	<string>colorcatcher-bd6b5</string>
	<key>STORAGE_BUCKET</key>
	<string>colorcatcher-bd6b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337830945410:ios:42f28c93b833416fcaca9b</string>
	<key>DATABASE_URL</key>
	<string>https://colorcatcher-bd6b5.firebaseio.com</string>
</dict>
</plist>